/* Base Application Styles */
@font-face{
    font-family: "icons-turn-arrow";
    src:url("../fonts/icons/turn-arrow.eot") format("embedded-opentype"),url("../fonts/icons/turn-arrow.woff") format("woff"),url("../fonts/icons/turn-arrow.ttf") format("true-type"),url("../fonts/icons/turn-arrow.svg") format("svg");
}


html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; 
}
body {
  color: #fff;
  background: #222;
}
img{
  width: 100%;
  display: inline-block;
}
.container{
  width: 100%;
  height: 100%;
}
.stage{
  width: 100%;
  height: 680px;
  position: relative;
  background:#ddd;
  .img-list{
    width: 100%;
    height: 100%;
    position:relative;
    overflow: hidden;
    perspective:1800px;
  }
  .nav-list{
    width:100%;
    position:absolute;
    bottom: 60px;
    left: 0px;
    text-align: center;
    z-index: 111;
    div{
      display: inline-block;
    }
    @at-root .controller-unit{
      width: 20px;
      height: 20px;
      border-radius:50%;
      background-color:#997e7e;
      display: inline-block;
      margin-right: 20px;
      vertical-align: middle;
      transform: scale(0.5);
      cursor: pointer;
      transition: transform .6s ease-in-out, background-color .3s ease-in-out;
      &.is-center{
          transform: scale(1);
          background-color: #ae8a8a;
          &::after{
          content: '\e645';
          font-family: "icons-turn-arrow";
          line-height: 20px;
          font-size: 75%;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }
      &.is-inverse{
        background-color: #e1b6b6;
        transform: rotateY(180deg);
      }
    }
  }
}

.image-box{
  position:absolute;
  width: 250px;
  height: 290px;
  padding:15px;
  box-sizing:border-box;
  background:#fff;
  cursor: pointer;
  transform-style: preserve-3d; //反转起到关键性作用，增加了之后，可以反转了
  transform-origin: 0 50% 0;
  transition:transform .6s ease-in-out, left .6s ease-in-out,top .6s ease-in-out; 
  .image-box-title{
    text-align: center;
    span{
      color: #a7a0a2;
      font-size: 16px; 
    }
  }
}
.img-back{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
  color: #7a7a7a;
  transform: rotateY(180deg) translateZ(1px);
  backface-visibility: hidden;
  background:#fff;
  line-height: 20px;
  font-size: 13px;
}
.box-inverse{
  transform: translate(250px) rotateY(180deg);
}

